<!DOCTYPE html>
<html>
    <head>
        <title>Denny site</title>
        <link href="{% static '/myself/style.css' %}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body class="body">
        <!-- Top! -->
        <div class="top1 text-light">
            <h1>Denny Terreno</h1>
            <p>Any hobbies? Give me more time!</p>
            
            <!-- Navbar with link to all pages -->
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
              <span class="navbar-brand" id="nav-only-little">Menu</span>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="index.html">Home</a>
                  <a class="nav-item nav-link" href="myself.html">My self</a>
                  <a class="nav-item nav-link" href="study.html">Study</a>
                  <a class="nav-item nav-link" href="job.html">Job experience</a>
                  <a class="nav-item nav-link active" href="freetime.html">Free Time<span class="sr-only">(current)</span></a>
                </div>
              </div>
            </nav>

        </div>


        <div class="container">
            <h3>I've a lot of hobby, but not to much time for them!</h3>
            
            <ul>
                <li>Music, I'm a musician
                    <ul>
                        <li>piano: I've got a wonderful piano at home!</li>
                        <li>accordion: I used to play in a polyphonic choir, but now I've taken some time for myself. Maybe I'll come back as director...</li>
                        <li>organ: every Sunday in church</li>
                    </ul>
                </li>
                <li>Book, I read every type of books! Thriller and novel, soft skill and business, history, but also comic and graphic novel!</li>
                <li>Technology: I love to be updated on last tech news, hardware and software!</li>
                <li>Friends: surely going out with my friends and my girlfriend it's time spent very well, but if we decide to play together some boardgame it's wonderful time spent very well!</li>
            </ul>
        </div>
        
        <!-- sign -->
        <div id='firma'>
            <p>Designed by Denny Terreno</p>
        </div>
    </body>
</html>