{% extends "base.html" %}
{% load static %}

{% block head %}
  <link href="{% static '/myself/style.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
  <title>Denny site</title>
{% endblock %}


{% block h1title %}
  <h1>Denny Terreno</h1>
{% endblock %}


{% block content %}
<div id="content" class="not-active">
  <div class="content-blur backimage"></div>
  <div class="content-text">
    <p>{{ testo.intro }}</p>
                    
    <!-- <img src="{% static '/myself/me_snow.jpg' %}" alt="Me snow yeah">    -->

    <div id='firma'>
      <p>Designed by Denny Terreno</p>
    </div>
</div>
</div>
{% endblock %}