<!DOCTYPE html>
<html>
    <head>
        <title>Denny site</title>
        <link href="{% static '/myself/style.css' %}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body class="body">
        <!-- Top! -->
        <div class="top1 text-light">
            <h1>Denny Terreno</h1>
            <p>Who am I? What are my skills?</p>
            
            <!-- Navbar with link to all pages -->
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
              <span class="navbar-brand" id="nav-only-little">Menu</span>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="index.html">Home</a>
                  <a class="nav-item nav-link active" href="myself.html">My self<span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="study.html">Study</a>
                  <a class="nav-item nav-link" href="job.html">Job experience</a>
                  <a class="nav-item nav-link" href="freetime.html">Free Time</a>
                </div>
              </div>
            </nav>

        </div>

        <!-- Page content -->
        <div class="main">
            <div class="row row-bottom">
                <div class="col-lg-2 col-sub main-title">Language skills</div>
                <div class="col">
                    <table>
                        <tr>
                            <th></th>
                            <th colspan="2">Understanding</th>
                            <th colspan="2">Speaking</th>
                            <th rowspan="2">Writing</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Listening</th>
                            <th>Reading</th>
                            <th>Spoken interaction</th>
                            <th>Spoken production</th>
                        </tr>
                        <tr>
                            <td>Italiano</td>
                            <td colspan="5">mother tongue</td>
                        </tr>
                        <tr>
                            <td>English</td>
                            <td>B2</td>
                            <td>B2</td>
                            <td>B2</td>
                            <td>B2</td>
                            <td>B2</td>
                        </tr>
                        <tr>
                            <td>Français</td>
                            <td>A1</td>
                            <td>A1</td>
                            <td>A1</td>
                            <td>A1</td>
                            <td>A1</td>
                        </tr>
                        <tr>
                            <td colspan="6">IELTS certification with grade 6.5 (2009)</td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="row row-bottom">
                <div class="col-lg-2 col-sub main-title">Computer skills</div>
                <div class="col">
                    <ul>
                        <li>Operative system: Windows and Linux bases</li>
                        <li>Great knowledge of Office suite: Excel, Outlook, Word, PowerPoint</li>
                        <li>Software development and data analysis: Matlab, MySQL, Python (Pandas, Tensorflow, ...), HTML and CSS bases</li>
                    </ul>
                </div>
            </div>
            
            <div class="row row-bottom">
                <div class="col-lg-2 col-sub main-title">Social and leadership skills</div>
                <div class="col">
                    I've developed good skills in team working, thanks to many team activity during Politecnico di Torino and project Talenti per l'Impresa, in all my working experiences, and also during volunteering activities as parish animator and other experiences.
                    I've good autonomy in project management, analysis and problem solving.
                    I've developed good teaching and tutoring skills, by following some student in their learning and by helping new resources became productive and start working in the team.
                </div>
            </div>
        </div>
        
        
        <!-- sign -->
        <div id='firma'>
            <p>Designed by Denny Terreno</p>
        </div>
    </body>
</html>