<!DOCTYPE html>
<html>
    <head>
        <title>Denny site</title>
        <link href="{% static '/myself/style.css' %}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body class="body">
        <!-- Top! -->
        <div class="top1 text-light">
            <h1>Denny Terreno</h1>
            <p>What did I do on my studies? How I arrived here?</p>
            
            <!-- Navbar with link to all pages -->
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
              <span class="navbar-brand" id="nav-only-little">Menu</span>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="index.html">Home</a>
                  <a class="nav-item nav-link" href="myself.html">My self</a>
                  <a class="nav-item nav-link active" href="study.html">Study<span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="job.html">Job experience</a>
                  <a class="nav-item nav-link" href="freetime.html">Free Time</a>
                </div>
              </div>
            </nav>

        </div>
        
        
        <div class="container"><div class="row">
            <div class="col-lg-4">
                <h3>Liceo Scientifico</h3>
                <p>
                    I got my high school scientific diploma in 2008, with vote 100/100.
                    Those 5 years had started like a game, I had known some people, I started to understand what learning was like.
                    But what I learned was that I needed to work with other people to get things done, and that I have to be serious and take my responsability.
                    My high school years teached me mainly a method of studying, that helped me in university, and they gave me some friends that I keep now!
                </p>
            </div>
            
            <div class="col-lg-4">
                <h3>Politecnico di Torino<br>Bachelor degree</h3>
                <p>
                    I liked very much my experience in Turin polytechnic. I had the possibility to start learning a lot of interesting scientific subjects in detail: math, physics, electronics, mechanics, computer science; but 
                    everything with a little bit of biomedical in it! So, I got my first degree in biomedical engineering in 2011 with a grade of 110/100 cum laude.
                </p>
            </div>
            
            <div class="col-lg-4">
                <h3>Politecnico di Torino<br>Master degree</h3>
                <p>
                    These last 2 years were very interesting: in every course we went deep into the biomedical part, but without loosing our engineering approach to problem solving.
                    I had the possibility to work and study on Bio-nanotecnology, biomedical signal and images analysis and classification, bio-material, bio-mechanic, bio-microelectronic, implantable devices, reabilitation bioengineering.
                    My "standard" study path ended in 2013 with the thesis on NIRS signal analysis on psychological patients.
                </p>
            </div>
            
            <div class="col-lg-4">
                <h3>Fondazione CRT<br>Talenti per l'Impresa</h3>
                <p>
                    In 2018 I understood that I have to keep learning forever; so I spend some weekends (like 30!) with a bunch of very smart young italian talents!
                    This project was meant to help us be enterpreneurs; a lot of different lecture and projects to teach us business, economy, marketing, team work, leadership, communication, business development, economic and political scenery,
                    creativity and idea generation, agile method. This course opened a lot my mind and my thinking, and I found it very usefull in my current working experience; however at the moment I'm not ready for being an enterpreneur, but who knows the future?
                </p>
            </div>
            
            <div class="col-lg-4">
                <h3>Online courses<br>Articles<br>Books</h3>
                <p>
                    I am currently doing at least 2-3 online courses each year; in fact, this is the first project of an online web programming course from EDx!
                    And then I try to read many articles or books, mainly on software news, leadership advice and team work.
                </p>
            </div>
            
            <div class="col-lg-4">
                <h3>...</h3>
                <p>
                    And next? Who knows the future?
                    What I know is that it has been a long long path, it's what brought me where I am, and it's what helped me understand what I like to do.
                    But what I am completely sure, is that I'm am not at the end of it, but entirely in the middle, and eventually I don't think and end exist!
                </p>
            </div>
        </div></div>
        
        <!-- sign -->
        <div id='firma'>
            <p>Designed by Denny Terreno</p>
        </div>
    </body>
</html>