#sidebar {
    background: #2e2d2d;  /* #009900 2e2d2d */
    color: #fff;
    transition: all 0.3s;
    border: 1px solid;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2e2d2d;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #000000;
}

#sidebar ul p {
    color: #fff;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: bold;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #2e2d2d;
    background: #c5c7c9;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #c5c7c9;
    background: #2e2d2d;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4e4c4c;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
}

#sidebar.active {
    /* manda il testo all'inizio */
    margin-left: -250px;
}

#sidebarCollapse.active {
    /* controlla la grandezza del bottone */
    width: 250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


@media (max-width: 480px) {
    #sidebar {
        min-width: 100%;
        max-width: 100%;
    }
    #sidebar.active {
        margin-left: -100%;
    }
    #sidebarCollapse.active {
    width: auto;
    }
}