/* Background and image */
body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("./back_me.jpg") no-repeat fixed;
  background-size: cover;
  background-position: right;
}

.backimage {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ), url("./back_me.jpg") no-repeat fixed;
  background-size: cover;
  background-position: right;
}

#content {
  width: 100%;
  padding: 15px;
  position: relative;
}

.content-blur {
  background-attachment: fixed;
  overflow: visible;
  -webkit-filter: blur(8px);
  filter: blur(8px);
  z-index: -1;
}

.content-blur,
.content-text {
  width: 50%;   /* Half page for image, half page for content */
  height: 100%;
  position: absolute;
  padding: 15px;
  top: 0;
  left: 0;
  color: white;
}

@media (max-width: 650px) {
  .content-blur,
  .content-text {
    width: 100%;
  }
}


/* Contenuto */
p {
  font-size: 15px;
}








/* Title with my name*/
/* h1 {
    text-align: center;
    margin-bottom: 5px;
    text-decoration: bold;
    color: white;
    } */


/* Table setting */  
/* table {
    margin: 5px;
    width: 300px;
    text-align: center;
    }
  
th {
    padding: 3px;
    }
  
td {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #394047;
    }
  
/* main setting  */
/* .top1 {
    background-color: #22262a;
}

.body {
  background-color: #b9bfc6;
  font-family: 'Amaranth';
  color: #801a00;
} */

/* Particular element setting */
/* #firma{
    text-align: right;
    font-family: 'Allura';
    font-size: 16pt;
}

.col-sub{
    text-decoration: underline;
}

.main-title, h3 {
    color: #4d0000;
} */



/* Make navbar title disappear */
/* @media screen and (min-width: 576px) {
  #nav-only-little {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  table {
    width: 576px;
    }
}

@media screen and (max-width: 500px) {
  table {
    font-size: 12px;
    }
}


img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px; }

div p, div > h3, div > div > h3, .main {
  margin: 25px; }

div > h3 {
  text-align: left; }

div > div > h3 {
  text-align: center; }

.row {
  margin-bottom: 25px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 35px; }

.top1 p {
  font-size: 14pt; } */ 


