<nav id="sidebar">
    <div class="sidebar-header">
        <h3 id="room-name">{{ info.room_name }}</h3>
    </div>

    <ul class="list-unstyled components">
        <!-- Aggiungere class='active' per la pagina selezionata -->
        
        <!-- Other rooms -->
        <p class="sidebar-rooms">Stanze</p>
        <li class="sidebar-rooms">
            <a href="{% url 'xmasg_room_new' %}">Crea una nuova stanza</a>
        </li>
        <!-- <div class="input-group new-room-div">
        <input class="form-control" type="text" name="new-room" placeholder="nuova stanza">
        <a href="#" id="new-room" class="btn btn-plus">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        </div> -->
        <li class="sidebar-rooms">
            <a href="#roomList" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Stanze disponibili</a>
            <ul class="collapse list-unstyled" id="roomList">
                {% for room in rooms %}
                    <li>
                        <a href="#">RoomName</a>
                    </li>
                {% endfor %}
            </ul>
        </li>

        <!-- Messages in the room -->
        {% if info.room_name %}
        <p class="sidebar-room-message">Messaggi</p>
        <li class="sidebar-room-message">
            <a href="#">Messaggia tutti</a>
        </li>
        <li class="sidebar-room-message">
            <a href="#FriendList" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Amici</a>
            <ul class="collapse list-unstyled" id="FriendList">
                {% for friend in friends %}
                    <li>
                        <a href="#">FriendName</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        
        <!-- Other functionality/setting of the room -->
        <p class="sidebar-room-other">Altro</p>
        <li class="sidebar-room-other">
            <a href="#">Xmas countdown</a>
        </li>
        <li class="sidebar-room-other">
            <a href="#">Setting</a>
        </li>
        {% endif %}

    </ul>

</nav>