{% extends "base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/xmasg/xmasg.css' %}">
<script src="{% static 'xmasg/index.js' %}"></script>
{% endblock %}


{% block h1title %}
<h1>Hello! Welcome to XmasG!</h1>
{% endblock %}


{% block sidebarbutton %}
<div class="col-auto">
  <nav class="dropdown">
    <button type="button" id="sidebarCollapse" class="btn btn-lg dropbtn button-logout active">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
  </nav>
</div>
{% endblock %}


{% block sidebar %}
{% include "xmasg/sidebar.html" %}
{% endblock %}


{% block content %}
<div id="content">
  <p>Ciao ciao!</p>

  
</div>
{% endblock %}
