{% extends "base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/xmasg/xmasg.css' %}">
<script src="{% static 'xmasg/room.js' %}"></script>
{% endblock %}


{% block h1title %}
<h1>Stanza: {{room.name}}!</h1>
{% endblock %}


{% block sidebarbutton %}
{% include "xmasg/element_sidebar_button.html" %}
{% endblock %}


{% block sidebar %}
{% include "xmasg/element_sidebar.html" %}
{% endblock %}


{% block content %}
<div id="content">
  <p>Eilà!</p>
  {% if request.user in room_members %}
    <p>Sei già iscritto!</p>
  {% else %}
    <form name="addRoomMember" action="{% url 'xmasg_room_add_member' %}" method="POST">
      {% csrf_token %}
      {% for field in form_add_member %}
        {{ field }}
      {% endfor %}
      <input type="submit" class="btn btn-primary" value="Unisciti">
    </form>
  {% endif %}
</div>
{% endblock %}
