{% extends "base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/xmasg/xmasg.css' %}">
<script src="{% static 'xmasg/room.js' %}"></script>
{% endblock %}


{% block h1title %}
<h1>Stanza: {{room.name}}!</h1>
{% endblock %}


{% block sidebarbutton %}
{% include "xmasg/element_sidebar_button.html" %}
{% endblock %}


{% block sidebar %}
{% include "xmasg/element_sidebar.html" %}
{% endblock %}


{% block content %}
<div id="content">
  <!-- Dati della stanza -->
  <div class="room-info">
    <h2>Benvenuto!</h2>
    <h3>{{ room.name }} - {{ room.description }}</h3>
    <p>L'estrazione avverrà il {{ room.end_date_str }}: mancano {{ room.end_date_delta_str }}</p>
    <h4>Ecco i partecipanti</h4>
    <ul class="room-member">
      {% for member in room_members %}
      <li>{{ member.username }} - {{ member.first_name }} {{ member.last_name }}</li>
      {% endfor%}
    </ul>
  </div>

  <!-- Iscritto o no -->
  {% if request.user not in room_members %}
    <form name="addRoomMember" action="{% url 'xmasg_room_add_member' %}" method="POST">
      {% csrf_token %}
      {% for field in form_add_member %}
        {{ field }}
      {% endfor %}
      <input type="submit" class="btn btn-primary" value="Unisciti">
    </form>
  {% else %}
    <p>Sei già iscritto! Ollè!</p>
  {% endif %}
</div>
{% endblock %}
