<nav id="sidebar">
    <div class="sidebar-header">
        <h3 id="room-name">Magione</h3>
    </div>

    <ul class="list-unstyled components">
        <!-- Aggiungere class='active' per la pagina selezionata -->
        
        <!-- Other rooms -->
        <p class="sidebar-rooms">Altre Stanze</p>
        <li class="sidebar-rooms">
            <a href="#">Crea una nuova stanza</a>
        </li>
        <!-- <div class="input-group new-room-div">
        <input class="form-control" type="text" name="new-room" placeholder="nuova stanza">
        <a href="#" id="new-room" class="btn btn-plus">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        </div> -->
        <li class="sidebar-rooms">
            <a href="#roomList" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Stanze disponibili</a>
            <ul class="collapse list-unstyled" id="roomList">
                <li>
                <a href="#">Home 1</a>
                </li>
                <li>
                <a href="#">Home 2</a>
                </li>
                <li>
                <a href="#">Home 3</a>
                </li>
            </ul>
        </li>

        <!-- Messages in the room -->
        <p class="sidebar-room-message">Messaggi</p>
        <li class="sidebar-room-message">
            <a href="#">Messaggia tutti</a>
        </li>
        <li class="sidebar-room-message">
            <a href="#FriendList" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Amici</a>
            <ul class="collapse list-unstyled" id="FriendList">
                <li>
                <a href="#">Page 1</a>
                </li>
                <li>
                <a href="#">Page 2</a>
                </li>
                <li>
                <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        
        <!-- Other functionality/setting of the room -->
        <p class="sidebar-room-other">Altro</p>
        <li class="sidebar-room-other">
            <a href="#">Xmas countdown</a>
        </li>
        <li class="sidebar-room-other">
            <a href="#">Setting</a>
        </li>

    </ul>

</nav>