{% extends "base.html" %}
{% load static %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'registration/registration.css' %}">
{% endblock %}


{% block sidebar %}
{% endblock %}


{% block content %}

  <div class="login-page">
    
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated == False %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
    
    <div class="form">
      <form class="login-form" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        
        {{ form.username }}
        {{ form.password }}

        <div>
          <button type="submit">Login</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>

        <p class="message">Not registered? <a href="{% url 'signup' %}">Create an account</a></p>

        <p class="message">Forgot password? <a href="{% url 'password_reset' %}">Recover password</a></p>

        <p class="message">Do you want to know me? <a href="{% url 'myself_index' %}">Denny</a></p>
      </form>
    </div>
  </div>

{% endblock %}