{% extends "base.html" %}
{% load static %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'registration/registration.css' %}">
{% endblock %}


{% block sidebar %}
{% endblock %}


{% block content %}
<div class="login-page blackchar">
  <div class="form">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </div>
</div>
{% endblock %}