{% extends 'base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'registration/registration.css' %}">
{% endblock %}


{% block content %}

<div class="login-page">
  <div class="form">
    <form class="register-form" method="POST" action="{% url 'signup' %}">
      {% csrf_token %}

      {% for field in form %}
        {{ field }}

        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

      {% endfor %}
      <button type="submit" >Register</button>
      <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
    </form>
  </div>
</div>


{% endblock %}